.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    transition: all 0.3s;
    position: relative;

    // CHANGE FOR THE <BUTTON> ELEMENT ---------
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.7rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-text-grey;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.18rem;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.18rem;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-in 0.9s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary-dark;
    color: $color-grey-light-1;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border-radius: 0.1rem;
    transform: translateY(-0.3rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    border-radius: 0.1rem;
    transform: translateY(0.2rem);
  }
}
