.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  transition: all 0.2s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
    // color: $color-primary-dark;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-1.25rem) scale(1.04);
  }

  .heading-tertiary {
    font-size: 1.55rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
