.brand-gradient {
    background: #BACF27;
    background: radial-gradient(circle farthest-corner at center center, #BACF27 0%, #539C27 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-holder, .main-page-header {
    background-image: url(../img/banner-image.jpg);
    background-size: cover;
    background-position: bottom;
}

.custom-nav {
    backdrop-filter: blur(8px);
}