html {
    scroll-behavior: smooth;
}

.brand-logo {
    position: absolute;
    top: 0.5%;
    left: 2%;
    z-index: 222;
    height: 220px;
}

.navbar {
    position: relative;
    z-index: 111;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 999;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}


/* ---------------------- HOME PAGE ANIMATIONS ------------------------- */
.home-content > .banner1,
.banner2,
.banner3,
.banner4 {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.home-content img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-out 10s linear infinite;
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}

.text {
    width: 60rem;
    position: absolute;
    bottom: 13%;
    left: 5.4%;
    color: #ffffff;
    animation: text-up 40s linear infinite;
    transform: translateY(10rem);
}

@keyframes text-up {
    10% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}

.text h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.text p {
    font-size: 2rem;
    line-height: 2.1rem;
    letter-spacing: 1px;
    margin-top: 4rem;
}

.text span {
    width: 15rem;
    background: #ff0000;
    height: 2px;
    position: absolute;
    left: 0;
}

.banner1 {
    animation: slide1 40s linear infinite;
}

.banner2 {
    animation: slide2 40s linear infinite;
}

.banner3 {
    animation: slide3 40s linear infinite;
}

.banner4 {
    animation: slide4 40s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes slide2 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide3 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes slide4 {
    0% {
        visibility: hidden;
    }

    25% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    75% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

.text1 {
    animation-delay: 0s;
}

/* .text2 {
    animation-delay: 10s;
} */

.text3 {
    animation-delay: 20s;
}

/* .text4 {
    animation-delay: 30s;
} */
/* ------------------------------- HOME PAGE ANIMATIONS ----------------- */

.nav-link.active {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.9) !important;
    letter-spacing: 0.1rem !important;
}


/* ---------------------------- CONTACT STYLES --------------------------------- */
.contact-bg-image {
    background-image: url(../assets/contact-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: hidden; */
}

.contact-content .container {
    margin-top: 150px;
    margin-bottom: 90px;
}

.contact-content i.my-font-size {
    font-size: 4rem;
    margin-right: 1rem;
}

.contact-content i.my-font-size-2 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.contact-content i.fa-square-bluesky {
    color: #0686FF;
}

.contact-content i.fa-linkedin {
    color: #0B65C3;
}
.contact-content i.fa-envelope {
    color: #0A74DA;
}

.contact-content .col-md-6 {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.contact-content .left-column {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.contact-content .right-column {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
/* -------------------------------------- CONTACT STYLES -------------------------------------- */


/* -------------------------------------- PROJECTS STYLES -------------------------------------- */

.projects-card-img {
    height: 180px;
    object-fit: cover;
}

.card .card-body {
    padding: 10px 0 0 10px;
}

.header-content {
    margin-bottom: 5rem;
}

.text-left {
    text-align: left;
}

/* --------------------------------- NEON ANIMATION --------------------------------- */
.section-heading .pulsating-text {
    display: inline-block;
    transform-origin: 50% 50%;
    animation: neonPulse 2s ease-in-out infinite alternate;
}

@keyframes neonPulse {
    0% {
        transform: scale(1);
        text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 30px #39FF14, 0 0 40px #39FF14;
    }
    100% {
        transform: scale(1.1);
        text-shadow: 0 0 20px #39FF14, 0 0 30px #39FF14, 0 0 40px #39FF14, 0 0 50px #39FF14;
    }
}
/* --------------------------------- NEON ANIMATION --------------------------------- */

.slider-container {
    position: relative;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
}

.slide {
    position: absolute;
    width: 30%;
    height: 60%;
    left: 50%;
    top: 15%;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide:nth-child(1) {
    transform: translateX(-50%) rotateY(0deg) translateZ(200px);
}

.slide:nth-child(2) {
    transform: translateX(-50%) rotateY(90deg) translateZ(200px);
}

.slide:nth-child(3) {
    transform: translateX(-50%) rotateY(180deg) translateZ(200px);
}

.slide:nth-child(4) {
    transform: translateX(-50%) rotateY(270deg) translateZ(200px);
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.slider-container:hover .slider {
    animation-play-state: paused;
}
/* ------------------------------- PROJECTS STYLES ------------------------------- */

/* -------------------------- BLOG PAGE STYLES --------------------------- */
.fixed-card {
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 1rem auto;
    position: relative;
    border: 1px solid #444;
    cursor: pointer;
    color: #000;
}

.blog-content .modal-content {
    color: #000;
}

.blog-content .modal-content a {
    text-decoration: none;
}
/* -------------------------- BLOG PAGE STYLES --------------------------- */


/* --------------------------------------- MEDIA STYLES ----------------------------------------- */

@media screen and (max-width: 1487px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 3.2rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 2rem;
    }

    .contact-content .left-column span {
        font-size: 1.5rem;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 1200px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 3rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 1.8rem;
    }

    .contact-content .left-column span {
        font-size: 1.3rem;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 1025px) {

    /* --- HOME PAGE STYLES --- */
    .home-content img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        animation: zoom-out 10s linear infinite;
    }

    @keyframes zoom-out {
        0% {
            transform: translate(-50%, -50%) scale(1.2);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }

    .home-content .text {
        width: 33rem;
    }
    
    .home-content .text h1 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }
    
    .home-content .text p {
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        margin-top: 4rem;
    }
    /* --- HOME PAGE STYLES --- */
}

@media screen and (max-width: 993px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 2.5rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 1.4rem;
    }

    .contact-content .left-column span {
        font-size: 0.9rem;
    }

    .radio-container {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .radio-container img {
        margin-bottom: 1rem;
        max-width: 200px;
        width: 100%;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 992px) {
    .brand-logo {
        height: 150px;
        position: absolute;
        top: -20px;
        left: 68%;
    }
}

@media screen and (max-width: 991px) {
    #navbar-content {
        background: #000 !important;
    }
}

@media screen and (max-width: 767.5px) {

    /* -- CONTACT STYLES --- */

    .contact-content .left-column {
        border-radius: 1rem;
    }
    
    .contact-content .right-column {
        border-radius: 1rem;
    }

    .contact-content .left-column {
        margin-bottom: 2rem;
    }

    .contact-content .left-column i.my-font-size {
        font-size: 2.8rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 1.6rem;
    }

    .contact-content .left-column span {
        font-size: 1.3rem;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 550px) {

    /* --- HOME PAGE STYLES --- */
    .home-content .text {
        width: 24.5rem;
    }
    /* --- HOME PAGE STYLES --- */

    /* -- PROJECTS PAGE -- */
    .projects-content h2 {
        text-align: center;
    }
    /* --- PROJECTS PAGE --- */
}

@media screen and (max-width: 500px) {

    .brand-logo {
        height: 130px;
        position: absolute;
        top: -10px;
        left: 60%;
    }

    /* --- PROJECTS PAGE --- */
    .slider-container {
        height: 230px;
    }

    .slide:nth-child(1) {
        transform: translateX(-50%) rotateY(0deg) translateZ(150px);
    }
    
    .slide:nth-child(2) {
        transform: translateX(-50%) rotateY(90deg) translateZ(150px);
    }
    
    .slide:nth-child(3) {
        transform: translateX(-50%) rotateY(180deg) translateZ(150px);
    }
    
    .slide:nth-child(4) {
        transform: translateX(-50%) rotateY(270deg) translateZ(150px);
    }
    /* --- PROJECTS PAGE --- */
}

@media screen and (max-width: 445px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 2.6rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 1.4rem;
    }

    .contact-content .left-column span {
        font-size: 1.1rem;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 425px) {

    /* --- HOME PAGE STYLES --- */
    .home-content .text {
        width: 21rem;
    }
    /* --- HOME PAGE STYLES --- */

    /* --- BLOG STYLES --- */
    .blog-content h2 {
        font-size: 1.3rem;
    }
    /* --- BLOG STYLES --- */
}

@media screen and (max-width: 390px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 2.5rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 1.3rem;
    }

    .contact-content .left-column span {
        font-size: 1rem;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 363px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 2.2rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 1rem;
    }

    .contact-content .left-column span {
        font-size: 0.9rem;
    }
    /* --- CONTACT STYLES --- */
}

@media screen and (max-width: 333px) {
    /* --- CONTACT STYLES --- */
    .contact-content .left-column i.my-font-size {
        font-size: 2rem;
    }

    .contact-content .left-column i.my-font-size-2 {
        font-size: 0.8rem;
    }

    .contact-content .left-column span {
        font-size: 0.8rem;
    }
    /* --- CONTACT STYLES --- */
}